<div class="container mt-5">
    <h4>Mobile</h4>
    <p><strong>Showing 1-20</strong>out of 10000 products</p>
     <div class="row">
       <div class="col-md-3 col-sm-6">
            <a href="/mobile" class="text-decoration-none text-dark">
            <div class="row border rounded">
                <img class="mt-3 mx-auto " src="../Image/61Cp0KmXsrL._AC_UY218_.jpg" style="height:349px;width:236px">
            {{#each mobile}}
                <span class="mt-3 mx-auto mt-2" >{{ProductName}}</span>
                <br>
                <span class="mt-3 mx-auto mt-2">{{Price}}</span> 
             {{/each}}
                <a class="rating ms-2 mx-auto mt-2 mb-2 text-decoration-none" href="/mobile">Buy Now</a>
            </div>
            </a>
        </div>



         <div class="col-md-3 col-sm-6">
            <a href="/mobile" class="text-decoration-none text-dark">
            <div class="row border rounded ms-2 ">
                <img class="mt-3 mx-auto " src="../Image/71Ftzmh3XWL._AC_UY218_.jpg" style="height: 349px;width:236px">
                {{#each mobile}}
                <span class="mt-3 mx-auto mt-2" name="Category">{{ProductName}}</span>
                <br>
                <span class="mt-3 mx-auto mt-2" name="Category">{{Price}}</span>
                {{/each}}
                <a class="rating ms-2 mx-auto mt-2 mb-2 text-decoration-none" href="/mobile">Buy Now</a>
            </div>
            </a>
        </div>




 <div class="col-md-3 col-sm-6">
            <a href="/mobile" class="text-decoration-none text-dark">
            <div class="row border rounded ms-2 ">
                <img class="mt-3 mx-auto " src="../Image/41bBzLjM-ML._AC_UY218_.jpg" style="height: 349px;width:236px">
                {{#each mobile}}
                <span class="mt-3 mx-auto mt-2" name="Category">{{ProductName}}</span>
                <br>
                <span class="mt-3 mx-auto mt-2" name="Category">{{Price}}</span>
                {{/each}}
                <a class="rating ms-2 mx-auto mt-2 mb-2 text-decoration-none" href="/mobile">Buy Now</a>
            </div>
            </a>
        </div>



<div class="col-md-3 col-sm-6">
            <a href="/mobile" class="text-decoration-none text-dark">
            <div class="row border rounded ms-2 ">
                <img class="mt-3 mx-auto " src="../Image/61HHS0HrjpL._AC_UY218_.jpg" style="height: 349px;width:236px">
                {{#each mobile}}
                <span class="mt-3 mx-auto mt-2" name="Category">{{ProductName}}</span>
                <br>
                <span class="mt-3 mx-auto mt-2" name="Category">{{Price}}</span>
                {{/each}}
                <a class="rating ms-2 mx-auto mt-2 mb-2 text-decoration-none" href="/mobile">Buy Now</a>
            </div>
            </a>
        </div>





        </div>
    </div>    